

body {
  background-color: #d64161;
}

.jumbotron {
  background-color: #eca1a6;
  margin: 50px;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

h2 {
  font-family: 'PT Sans Caption', sans-serif;
  padding-top: 10px;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #96ceb4; /* turquoise*/
    color: white;
    text-shadow: black 1px 1px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: hotpink;
    font-weight: bold;
    float: right;
    font-size: 40px;
    padding: 5px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/* Grid */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 200px;
  grid-gap: 20px;
  padding-bottom: 100px;

}

/* Light turquoise color of the grid items */

.grid-item {
  background-color: #96ceb4;

}

/* Month buttons */

button {
  width: 200px;
  height: 200px;
  background-color: #588c7e;
  outline: 4px solid #96ceb4;

}

button h3 {
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2em;
}

.hovered {
  background-color: purple;
}

/* The parrots */

.show {
  padding-top: 20px;
  padding-left: 20px;
}

.show img {
  height: 75px;
  width: 75px;
}

.show p {
  font-family: 'PT Sans Caption', sans-serif;
}

/* Turquoise footer */

footer {
  height: 50px;
  background-color: #96ceb4;
}

footer p {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1em;
  color: white;
  padding-left: 20px;
  margin-top: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}
